* {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
li {
    /* justify-content: center;
    text-align: center;
    align-content: center;
    align-items: center; */
    margin-left: 300px;
}
#home, #animals, #about, #contact, #help {
    background-color: rgb(234, 245, 214);
    border-radius: 7px;
}
.background img {
    width: 100%;
    height: 550px;
    position: absolute;
    z-index: -1;
    top: 0;
}
.background1 img {
    width: 100%;
    height: 100%;
    margin-top: 100px;
    position: absolute;
    z-index: -1;
    top: 0;
}
/* .up {
    background-color: antiquewhite;
    background-size: 1400px;
    opacity: 75%;
} */
.flex {
    background-color: aquamarine;
    border-radius: 10px;
}
.button {
    border-radius: 10px;
}